@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.payment-left {
    width: 60%;
    height: 100vh;
    background-color: #FFEBEC;
    float: left;
    box-sizing: border-box;
}

.payment-right {
    width: 40%;
    height: 100vh;
    background-color: #FFD1D1;
    float: right;
    box-sizing: border-box;
    overflow-y: auto; /* Додано прокрутку */
}

.payment-title {
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.product-list {
    padding: 20px;
    max-width: 100%; /* Ширина списку продуктів */
}

.product {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}



.price {
    font-weight: 600;
    font-style: italic;
    margin-right: 20px; /* Відступ від ціни до правого краю */
}

.total {
    text-align: right;
    margin-right: 20px;
}

.total-text {
    font-weight: 600;
    font-style: italic;
}

.scrollbar-bg {
    background-image: linear-gradient(to right, transparent, #f8f8f8 50%, #f8f8f8 50%, transparent);
    width: 3px; /* Ширина смуги змійки */
    position: absolute;
    top: 0;
    right: 0; /* Зміщуємо смугу змійки праворуч */
    height: 100%;
    pointer-events: none; /* Щоб смуга змійки не перешкоджала взаємодії з контентом */
}
.product-list {
    padding: 20px;
    max-width: 100%; /* Ширина списку продуктів */
    max-height: calc(100vh - 20px); /* Визначаємо максимальну висоту для прокрутки */
    overflow-y: auto; /* Додаємо вертикальну прокрутку, якщо необхідно */
}
.wishlist-header img {
    width: 80px;
    height: 80px;
}

.wishlist-title {
    font-weight: 600; /* Semi Bold */
    font-style: italic; /* Italic */
}

.wishlist-items {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 90px; /* Зменшено максимальну ширину для елементів */
    width: 100%; /* Ширина елементів займе всю доступну ширину */
    margin: 0 auto; /* Автоматична маржа по горизонталі для центрування */
    max-height: 200px; /* Зменшена максимальна висота */
}

.wishlist-container {
    background-color: #F2F2F2;
    padding: 20px;
    max-width: 540px; /* Задаємо максимальну ширину контейнера */
    width: 100%; /* Ширина контейнера займе всю доступну ширину */
    height: 450px;
    overflow-y: auto;
    margin: 50px auto 0; /* Автоматична маржа: 100px зверху, автоматично по горизонталі, 0 знизу */
    margin-bottom: 30px; /* Доданий відступ вниз, якщо потрібно */
}

.wishlist-item {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: center;
}

.product-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-row img {
    width: auto; /* Змінюємо ширину зображень на автоматичну */
    max-height: 80px; /* Змінюємо максимальну висоту зображень */
    border-radius: 5px;
    margin-right: 20px;
}

.wishlist-details {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.product-info {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.product-name {
    font-weight: 200; /* Semi Bold */
    font-style: italic; /* Italic */
    margin-right: 20px; /* Збільшуємо відступ між назвою та ціною */
    width: 200px; /* Фіксована ширина для назви продукту */
}

.unit-price {
    color: #666666;
    margin-right: 20px; /* Збільшуємо відступ між ціною та кнопкою */
    width: 100px; /* Фіксована ширина для ціни */
}

.add-to-cart-btn {
    background-color: #FFD1D1;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px; /* Збільшуємо висоту та ширину кнопок */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: skew(-10deg);
    font-weight: 600; /* Semi Bold */
    font-style: italic; /* Italic */
}

.add-to-cart-btn:hover {
    background-color: #FFA5A5;
}

.scrollbar-bg {
    background-image: linear-gradient(to right, transparent, #f8f8f8 50%, #f8f8f8 50%, transparent);
    width: 3px; /* Змінено ширину смуги скроллбару */
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    pointer-events: none;
}




/* Властивості для WebKit браузерів (Chrome, Safari) */
.wishlist-container::-webkit-scrollbar {
    width: 5px; /* Задає ширину скроллбару */
}

.wishlist-container::-webkit-scrollbar-thumb {
    background-color: #CCCCCC; /* Задає колір скроллбару */
}

/* Залишається без змін */

.total {
    position: absolute;
    bottom: 50px; /* Змінено bottom відповідно до вашого бажання */
    right: 20px; /* Змінено right для правильного позиціонування */
    text-align: right;
    margin-right: 80px;
    font-size: 24px;
}

.total-text {
    font-weight: 600;
    font-style: italic;
}

.total-amount {
    font-weight: 600;
    font-style: italic;
    color: #666666; /* Колір тексту для суми */
}

.proceed-button {
    margin-left: 225px;
    margin-top: 30px;
    bottom: 50px; /* Змінено bottom відповідно до вашого бажання */
    left: 30%; /* Позиціонуємо кнопку в центрі відносно батьківського елемента */
    transform: translateX(-50%); /* Центруємо кнопку в горизонтальному напрямку */
}

.proceed-payment-btn {
    background-color: #FFF5E4;
    color: #FF9494;
    border: none;
    padding: 15px 30px; /* Збільшуємо висоту та ширину кнопки */
    border-radius: 50px; /* Овальна форма */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
    font-style: italic;
    font-size:20px;
}

.proceed-payment-btn:hover {
    background-color: #FFEAC7;
}

.button{
    background-color: #FFFFFF;
    margin-left: 200px;
    padding: 30px;
    width: 50%;
    height: 580px;
    margin-top: 30px;
    border-radius: 20px;
    
}
.modal {
    display: none; /* Початково приховуємо спливаюче вікно */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Півпрозорий чорний фон */
}

.modal-content {
    background: linear-gradient(to right, #DCFFE1, #FEEBE5, #FFAFAF); /* Градієнт з вказаними кольорами */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

.close {
    color: #ff9494;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f00;
    text-decoration: none;
    cursor: pointer;
}

.topnav {
    background-color: #FFD1D1; /* Set the background color */
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    display: flex; /* Align items horizontally */
    align-items: center; /* Center items vertically */
}

.topnav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Align list items horizontally */
}

.topnav ul li {
    margin: 0; /* Add margin between list items */
    padding-left: 15px;
    padding-right: 15px;
}
.icon-container {
    text-align: center;
    border: 5px solid transparent;
    background-color: #FF9494;
    width: 29px; /* Set the width of the icons */
    height: 30px; /* Maintain aspect ratio */
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 100%;
}

.icon-container:hover{
    overflow: hidden;
    border: 5px solid #FC1275;
}

.icon-image{
    height: 25px;
}
.topnav ul li{
    display: flex
}


.topnav ul li.logo-item img {
    width: 150px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */

}
.topnav ul li input {
    border: 5px solid #FF9494;
    padding: 7px;
    background-color: #FFEBEC;
    border-width: 0;
    border-radius: 50px;
    width: 500px; /* Set the width of the icons */
    height: 30px; /* Maintain aspect ratio */
    outline : none;
}

#login-button-container{
    text-align: right;
    padding-left: 150px;
}
#account-button-container{
    text-align: right;
    margin-left: 20px;
}
#login-button{
    color: #FF9494;
    font-family: inherit;
    font-style: italic;
    font-weight: bold;
    height: 30px;
    padding: 20px;
    background-color: #FFF5E4;
    border-width: 0px;
    border-radius: 100px;
    font-size: medium;
    text-align: center;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center;

}
#login-button:hover{
    background-color: #FFEAC7;
}
#account-button{
    color: #FF9494;
    font-family: inherit;
    font-style: italic;
    font-weight: bold;

    height: 30px;
    padding: 20px;
    background-color: #FFF5E4;
    border-width: 0px;
    border-radius: 100px;
    font-size: medium;
    text-align: center;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center;
}
#account-button:hover{
    background-color: #FFEAC7;
}
footer {
    background-color: #FFD1D1;
    padding: 15px;
    text-align: center;
}

.customer-support-button {
    border: 5px solid transparent;
    margin-left: 90%;
    width: 70px;
    height: 70px;
    padding: 1px;
    font-size: 16px;
    background-color: #FF9494;
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}
.customer-support-button img{
    padding-top: 10px;
    width: 50%;
}
.customer-support-button:hover {
    border: 5px solid #FC1275
}

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .paymentother {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 10px;
    justify-content: center;
  }
  .paymentother button {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
  }
  .paymentother button svg {
    height: 18px;
  }
  .paymentother button:last-child svg {
    height: 22px;
  }
  .separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
  }
  .separator p {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    margin: auto;
  }
  .separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
  }
  .card-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
  }
  .split input {
    width: 100%;
  }
  .input_label {
    font-size: 12px;
    color: #8B8E98;
    font-weight: 600;
  }
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  }
  /* Reset input number styles */
  .input_field::-webkit-outer-spin-button,
  .input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .checkout {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: #302b63;
    color: ghostwhite;
    overflow: hidden;
  }
  .checkout span {
    position: relative;
    transition: color 0.6s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  .checkout::before,
  .checkout::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .checkout::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
  }
  .checkout:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  .checkout:active {
    transform: scale(0.95);
  }
  .mainscreen
{
	min-height: 100vh;
	width: 100%;
	display: flex;
    flex-direction: column;
    background-color: #DFDBE5;
    background-image: url("https://wallpaperaccess.com/full/3063067.png");
    color:#963E7B;
}

.card {
	width: 60rem;
    margin: auto;
    background: white;
    position:center;
    align-self: center;
    top: 50rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;
    
}

.leftside {
	background: #030303;
	width: 25rem;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.product {
    object-fit: cover;
	width: 20em;
    height: 20em;
    border-radius: 100%;
}

.rightside {
    background-color: #ffffff;
	width: 35rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p{
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox
{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
  outline:none;
}

.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}


@media only screen and (max-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;
      
    }

    .rightside{
        width:auto;
        border-bottom-left-radius: 1rem;
        padding:0.5rem 3rem 3rem 2rem;
      border-radius:0;
    }
}
/* Reset input number styles */
.inputbox::-webkit-outer-spin-button,
.inputbox::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

