@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    background-color: #FFEBEC;
    margin:0;
    font-family: 'Inter', sans-serif;
    font-style: Italic;
    font-weight: 500;
}
.product-page {
    display: flex;
    justify-content: center; /* Вирівнюємо контейнер продукту по центру */
}

.product-container {
    display: flex;
    align-items: flex-start; /* Вирівнюємо елементи вертикально по верхньому краю */
}

.product-content {
    display: flex;
    align-items: flex-start; /* Вирівнюємо елементи вертикально по верхньому краю */
    font-family: 'Inter', sans-serif;
}

.product-image {
    margin-right: 30px; /* Відступ справа від зображення */
    margin-left: 30px; /* Відступ зліва від зображення */
}

.product-image img {
    width: 500px; /* Фіксована ширина для картинки */
    height: 500px;
    margin-top: 20px;
}

.product-details {
    flex-grow: 1; /* Займає доступне простір у контейнері */
    margin-right: 30px; /* Збільшуємо відстань між картинкою і описом справа */
    font-family: 'Inter', sans-serif;
}

.product-details {
    background-color: #FFEBEC;
    display: flex;
    flex-direction: column; /* Розміщуємо елементи в стовпчик */
    padding: 20px;
    margin-top: 20px;
    min-height: 429px; /* Фіксована мінімальна висота для білого поля */
    font-family: 'Inter', sans-serif;
}

.product-name {
    font-weight: 600; /* Semi Bold */
    font-style: italic; /* Italic */
    font-size: 100px;
}

.product-price {
    margin-bottom: 20px;
    font-weight: 600; /* Semi Bold */
    font-style: italic; /* Italic */
    font-size: 20px;
}

.product-description {
    background-color: #FFEBEC;
    margin-bottom: 10px;
    max-height: 300px; /* Максимальна висота для опису продукту */
    margin-left: 30px; /* Відступ зліва для нижнього опису */
    margin-right: 30px; /* Відступ справа для нижнього опису */
}

.add-to-cart-btn {
    background-color: #FFD1D1;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px; /* Збільшуємо висоту та ширину кнопок */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: skew(-10deg);
    font-weight: 600; /* Semi Bold */
    font-style: italic; /* Italic */
}

.view-detail-btn {
    background-color: #FFFFFF;
    color: #FFD1D1;
    border: none;
    padding: 15px 30px; /* Збільшуємо висоту та ширину кнопок */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: skew(-10deg);
    font-weight: 600; /* Semi Bold */
    font-style: italic; /* Italic */
}

.add-to-cart-btn:hover {
    background-color: #FFA5A5;
}

.view-detail-btn:hover {
    background-color: #F2F2F2;
}


.product-description-bottom {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px; /* Відступ зліва для нижнього опису */
    margin-right: 30px; /* Відступ справа для нижнього опису */
}
.product-details .add-to-cart-btn {
    align-self: flex-end; /* Опускаємо кнопки вниз */
}
.topnav {
    background-color: #FFD1D1; /* Set the background color */
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    display: flex; /* Align items horizontally */
    align-items: center; /* Center items vertically */
}

.topnav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Align list items horizontally */
}

.topnav ul li {
    margin: 0; /* Add margin between list items */
    padding-left: 15px;
    padding-right: 15px;
}
.icon-container {
    text-align: center;
    border: 5px solid transparent;
    background-color: #FF9494;
    width: 29px; /* Set the width of the icons */
    height: 30px; /* Maintain aspect ratio */
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 100%;
}

.icon-container:hover{
    overflow: hidden;
    border: 5px solid #FC1275;
}

.icon-image{
    height: 25px;
}
.topnav ul li{
    display: flex
}


.topnav ul li.logo-item img {
    width: 150px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */

}
.topnav ul li input {
    border: 5px solid #FF9494;
    padding: 7px;
    background-color: #FFEBEC;
    border-width: 0;
    border-radius: 50px;
    width: 500px; /* Set the width of the icons */
    height: 30px; /* Maintain aspect ratio */
    outline : none;
}

#login-button-container{
    text-align: right;
    padding-left: 150px;
}
#account-button-container{
    text-align: right;
    margin-left: 20px;
}
#login-button{
    color: #FF9494;
    font-family: inherit;
    font-style: italic;
    font-weight: bold;
    height: 30px;
    padding: 20px;
    background-color: #FFF5E4;
    border-width: 0px;
    border-radius: 100px;
    font-size: medium;
    text-align: center;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center;

}
#login-button:hover{
    background-color: #FFEAC7;
    cursor:pointer;
}
#account-button{
    color: #FF9494;
    font-family: inherit;
    font-style: italic;
    font-weight: bold;

    height: 30px;
    padding: 20px;
    background-color: #FFF5E4;
    border-width: 0px;
    border-radius: 100px;
    font-size: medium;
    text-align: center;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center;
}
#account-button:hover{
    background-color: #FFEAC7;
    cursor:pointer;
}
footer {
    background-color: #FFD1D1;
    padding: 15px;
    text-align: center;
}

.customer-support-button {
    border: 5px solid transparent;
    margin-left: 90%;
    width: 70px;
    height: 70px;
    padding: 1px;
    font-size: 16px;
    background-color: #FF9494;
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}
.customer-support-button img{
    padding-top: 10px;
    width: 50%;
}
.customer-support-button:hover {
    border: 5px solid #FC1275
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 148, 148, 0.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: none; /* Initially hidden */
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #D3035B;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #D3035B;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}




.account-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 148, 148, 0.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: none; /* Initially hidden */
}

.account-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.account-box .user-box {
    position: relative;
}

.account-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.account-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.account-box .user-box input:focus ~ label,
.account-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #D3035B;
    font-size: 12px;
}

.account-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #D3035B;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}